/*=================
	InfoWidgets
  =================*/
.infowidget {
	width: 300px;
	min-height: 550px;
}
.infowidget.loading {
	background: url(images/throbber.gif) no-repeat center center;
}
.infowidget ul {
	background: #fff;
}
.infowidget li:nth-child(odd) {
	background: #efefef;
}
.infowidget li:hover {
	background: #eed;
}
.infowidget a {
	display: block;
	padding: 0 30px 0 7px;
	line-height: 25px !important;
	color: #222 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}
.infowidget a.new { background: #ffeedc; }
.infowidget a.new:after {
	position: absolute;
	right: 7px;
	top: 0;
	font-size: 90%;
	color: #ff6c00;
	content: '새글';
}
.infowidget a.new:hover { background: #ffe6ca; }

/* 모든 문서, 주시한 문서 스위치 */
.infowidget-switch {
	width: 300px;
	margin: 0 0 5px !important;
}
.infowidget-switch li {
	float: left;
	width: 149px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.infowidget-switch .rc {
	margin-right: 1px;
}
.infowidget-switch .wl {
	margin-left: 1px;
}

.infowidget-block {
	position: relative;
	width: 300px;
	height: 250px;
}
.infowidget-block > div {
	position: absolute;
	top: 0;
	left: 0;
}
#infowidget-wl {
	display: none;
}