/*----------------------------------------
 * Modern Skylight: Category pages
 * Author(s): cafeinlove at wiki-chan.net
 * License: MIT License
 ----------------------------------------*/

/* #mw-subcategories -> Subcategories
 * #mw-pages -> Pages in category "Foo"
 * #mw-category-media -> Media in category "Foo" */
#mw-subcategories,
#mw-pages,
#mw-category-media {
	border: 1px solid #dedede;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ddd;
	margin: 1em 0 1.5em;
	overflow: hidden;
	padding: 0 0 10px;
}

#mw-subcategories > h2,
#mw-pages > h2,
#mw-category-media > h2 {
	background: #e5e5e5;
	border: 0;
	width: 100%;
	margin: 0;
	padding: 7px 10px;
}
#mw-subcategories > h2::before,
#mw-pages > h2::before,
#mw-category-media > h2::before { display: none !important; }

#mw-subcategories > *:not(h2),
#mw-pages > *:not(h2),
#mw-category-media > *:not(h2) { padding: 0 10px; } /* need better solution */

/* inner wrapper */
.content-section { padding: 0 10px 10px; }

h2 .count-message {
	font-size: 12px;
	font-weight: normal;
}

#mw-subcategories ul,
#mw-pages ul {
	margin: 0;
	list-style: none;
}
#mw-subcategories li,
#mw-pages li {
	text-align: left !important;
}
#mw-subcategories ul + h3:before,
#mw-pages ul + h3:before {
	border-top: 1px solid #ddd;
	display: block;
	margin-bottom: 1em;
	content: "";
}

/* Media gallery fix */
#mw-category-media .gallery { text-align: left; }

/* Category Tree */
.CategoryTreeItem > span:not([class]) {
	color: #999;
	font-size: 12px;
}
.CategoryTreeChildren .CategoryTreeItem:before {
	/* @embed */
	background: url(images/arrow-right.png) no-repeat center left;
	display: inline-block;
	width: 6px;
	height: 20px;
	vertical-align: text-top;
	content: "";
}