.content .article.alpha {
	width: auto !important;
	border: none !important;
	padding: 0 !important;
}

/* Fix */
.action-view h1#firstheading, .action-submit h1#firstheading, .catlinks { display: none !important; }
a:hover { text-decoration: none !important; }

/**************
 *	Logo
 **************/
#logo {
	width: auto;
	height: 35px;
}
#logo a {
	display: block;
	line-height: 0; /* fix */
	width: 320px;
	height: 80px;
	position: absolute;
	top: -50px;
}

/***********************
 *	Accordion Menu
 ***********************/
#accordion {
	list-style: none !important;
	padding: 0 !important;
	margin: 10px 0 !important;
}

#accordion li > a {
	padding: 0 10px 0 14px;
	display: block;
	position: relative;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background: #529cff;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .2), 0px 1px 0px 0px rgba(0,0,0, .2);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .2), 0px 1px 0px 0px rgba(0,0,0, .2);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .2), 0px 1px 0px 0px rgba(0,0,0, .2);
}
#accordion > li > a { color: #fdfdfd !important; }
#accordion > li:hover > a, #accordion > li:target > a, #accordion > li > a.active { background: #008ccf; }

/* Collapsible items */
#accordion .sub-menu {
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
#accordion .sub-menu a {
	padding: 0 10px 0 40px;
	background: #fff;
	height: 33px;
	font-size: 13px;
	line-height: 33px;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f3f3f3, 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
#accordion .sub-menu li:nth-child(even) a {
	background: #f2f2f2;
}
#accordion .sub-menu li:hover a {
	background: #eed;
	color: #777 !important;
}

#accordion .sub-menu span.num {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font-size: 13px;
	line-height: 33px;
	font-style: normal;
}
#accordion .sub-menu span.val {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	color: #797979;
	font-size: 13px;
	line-height: 33px;
}

/* Toggle */
#accordion li > .sub-menu { display: none; } 
#accordion li:target > .sub-menu { display: block; }

/***********************
 *	Component Box
 ***********************/
.component {
	background: #fff;
	margin-bottom: 10px;
}
.component-head {
	line-height: 40px;
	position: relative;
}
.component-head span.title {
	color: #202020;
	font-size: 20px;
}
.component-head span.more {
	position: absolute;
	right: 0;
	top: 8px;
}
.component-head span.more a {
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	line-height: 0;
}
.component-head span.more a:after {
	font: normal normal 18px/1 'FontAwesome';
	content: '\f067';
	color: #373737;
	text-indent: 0px;
	display: block;
	line-height: 24px;
	text-align: center;
}
.component-head span.more a.open:after {
	content: '\f068';
}
.component-body {
	padding: 5px 0;
}

/*****************
 *	Projects
 *****************/
.projects li {
	float: left;
	width: 145px;
	height: 72px;
}

.projects li:first-child {
	margin: 0 5px 5px 0;
}
.projects li:nth-child(2) {
	margin: 0 0 5px 5px;
}
.projects li:nth-child(3) {
	margin: 5px 5px 0 0;
}
.projects li:last-child {
	margin: 5px 0 0 5px;
}

.projects li:first-child, .projects li:last-child {
	background: #57BAE8;
}
.projects li:nth-child(2), .projects li:nth-child(3) {
	background: #50A9D2;
}

.projects a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff !important;
	position: relative;
}
.projects span.alt {
	font-size: 13px;
	line-height: 20px;
	position: absolute;
	left: 8px;
	bottom: 6px;
}

/********************
 *	Create Form
 ********************/
input.createboxInput { width: 220px; }
#createform-default { margin-bottom: 3px; }
#createform-hidden { display: none; }

/********************
 *	Noti message
 ********************/
#notification {
	position: absolute;
	z-index: 65535;
	top: 40px;
	left: 0;
	right: 0;
	background: #FDE073;
	text-align: center;
	line-height: 2.5;
	margin: 0 -10px;
	overflow: hidden;
	-webkit-transform: translateY(-50px);
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	-moz-transform: translateY(-50px);
	-moz-animation: slideDown 2.5s 1.0s 1 ease forwards;
}