/*======================
	NAVIGATION MENU
======================*/
.nav-menu {
	list-style: none !important;
	margin: 1em 0 !important;
	text-align: center !important;
}
.nav-menu li {
	display: inline-block;
	background: #5bc0de;
	border: 1px solid #46b8da;
	color: #fff;
	margin: 0 1em;
	text-align: center;
	cursor: pointer;
}
.nav-menu li:hover {
	background-color: #39b3d7;
	border-color: #269abc;
	box-shadow: inset 0px 0px 4px rgba(144, 167, 177, 0.3);
}
.nav-menu li:active {
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.nav-menu li a {
	display: block;
	padding: .6em 1em;
	color: #fff !important;
	text-decoration: none !important;
}

/* 체크박스 타입 */
.nav-checkbox {
	list-style: none !important;
	margin: 1em 0 !important;
	text-align: center !important;
}
.nav-checkbox li {
	display: inline-block;
	margin: 0 1em;
	cursor: pointer;
}
.nav-checkbox span {
	display: inline-block;
	vertical-align: middle;	
}
.nav-checkbox span.box {
	width: 20px;
	height: 20px;
	border: 2px solid #ddd;
	border-radius: 50%;
	margin-right: .5em;
	font: normal normal 14px/1 'FontAwesome';
	color: #999;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	position: relative;
}
.nav-checkbox li.checked span.box:before {
	content: '\f00c';
	position: absolute;
	top: 3px;
	left: 3px;
}
.nav-checkbox span.label { text-align: left; }
.nav-checkbox span.num {
	color: #aaa;
	margin-left: .5em;
}
.nav-checkbox span.num:before { content: '('; }
.nav-checkbox span.num:after { content: ')'; }

/* 사각 버튼 */
ul.navi-menu {
	list-style: none !important;
	margin: 0 auto !important;
	font-family: '맑은 고딕';
}
ul.navi-menu > li {
	float: left;
	background: #57bae8;
	color: #fff;
	width: 60px;
	height: 60px;
	font-size: 15px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	margin: 3px;
}
ul.navi-menu > li.selected, ul.navi-menu > li:hover {
	background: #008ccf;
	box-shadow: inset 0px 0px 4px rgba(144, 167, 177, 0.3);
}

/*==============
	편성표
==============*/
#anitable > ul {
	display: block;
	width: 100%;
	padding: 0 !important;
	margin: 0 0 2em !important;
	list-style: none !important;
	border-top: 2px solid #4c9ed9;
}

/* 각 요일 */
#anitable > ul > li {
	float: left;
	width: 124px;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #eee;
}
#anitable > ul > li:last-child { border-width: 0 1px; }
#anitable > ul > li.current {
	width: 228px;
	background: #f2f2f2;
}

/* 요일 제목 */
#anitable .heading {
	font-size: 140%;
	padding: .4em 0 .2em;
	text-align: center;
	color: rgba(0,0,0, .4);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#anitable > ul > li:not(.current) > .heading:hover {
	color: #000;
}
#anitable .current .heading {
	background: #4c9ed9;
	color: #fff;
	cursor: default;
}

/* 각 시간대 */
#anitable .item {
	clear: both;
	text-align: left;
	margin: 1em 1em 2em;
	cursor: pointer;
}


/* 현재 요일 썸네일 */
#anitable .current .item-thumb {
	float: left;
	width: 80px;
}
#anitable .current .item-thumb img {
	display: block;
	width: 100%;
}
#anitable .current .item-info { margin-left: 90px; }

#anitable .item .title {
	line-height: normal;
	word-wrap: break-word;
}
#anitable .item .time {
	color: #aaa;
	font-size: 90%;
}
#anitable .item:hover .title, #anitable .item:hover .time { color: #00a6bc; }
#anitable .item.new .title:before {
	content: 'N';
	font: normal normal 10px/1 Arial, sans-serif;
	background: #ffad50;
	color: #fff;
	padding: 1px 3px 1px 2px;
	margin-right: .35em;
}

/* 요일 미정 */
#anitable > ul.alpha > li {
	clear: both;
	float: none;
	width: auto;
}
#anitable > ul.alpha .item {
	float: left;
	clear: none;
	width: 14.285%;
	box-sizing: border-box;
}
#anitable > ul.alpha > li > div:nth-child(7n+2) { clear: left; }

.js-table .detail {
	display: none;
}

/**************** 클릭했을 때 팝업하는 부가정보 */
.modal .miscellaneous { margin-top: .5em; }
.modal .title-kr, .profiles .title-kr {
	font-size: 1.35rem;
	font-weight: bold;
}
.modal .title-jp, .profiles .title-jp {
	font-size: 1.1rem;
	color: #999;
	font-family: 'Meiryo', 'MS Gothic', sans-serif;
}
.modal .website, .profiles .website { margin-top: .5em; }

.modal .thumb, .profiles .thumb {
	float: left;
	width: 180px;
	min-height: 100px;
	overflow: hidden;
	position: relative;
}
.modal .thumb .image, .profiles .thumb, .image {
	display: block;
	line-height: 0;
}
.modal .thumbcap, .profiles .thumbcap {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 1.5;
	padding: .2em 0;
	background: rgba(0,0,0,0.7);
	color: #fff;
	text-align: center;
}

.modal .cast, .profiles .cast {
	margin-left: 200px;
}
.modal .cast {
	max-height: 320px;
	overflow-y: auto;
}
.modal .cast ul, .profiles .cast ul {
	list-style: none;
	margin: 0;
	line-height: 1.75;
}
.modal .cast li a:last-child:before, .profiles .cast li a:last-child:before {
	display: inline-block; /* to disable text-decoration */
	content: '・';
	color: #ccc;
	margin: 0 .3em 0 .1em;
}

.modal .miscellaneous { margin-top: .5em; }
.modal span + span:before, .profiles span + span:before {
	content: '|';
	display: inline-block;
	vertical-align: middle;
	margin: 0 1em;
	line-height: 10px;
	color: #ccc;
	overflow: hidden;
}

@media screen and (max-width: 969px) {
	.profiles .thumb { float: none; margin: 0 auto; }
	.profiles .cast { display: none; }
}

/**************** 필터링 후 모아 보여주기 */
.profiles {
	border-collapse: separate;
	border-spacing: 10px;
	margin: auto;
}
.profiles td {
	width: 550px;
	vertical-align: top;
	background: #fff;
	border-radius: 6px;
	text-align: center;
}

.profiles .head {
	padding: 20px 50px 15px;
	border-bottom: 1px dotted #eaeaea;
	text-align: center;
}
.profiles .body {
	padding: 10px 30px;
}
.profiles .foot {
	padding: 10px 30px 15px;
	border-top: 1px dotted #eaeaea;
	text-align: center;
}
/* Close profiles */
.profiles + .modal-close {
	position: fixed;
	top: 20px;
	right: 40px;
	color: rgba(255,255,255, .5);
}
.profiles + .modal-close:hover { color: rgba(255,255,255, .8); }

/*===============
	게임 발매표
   ===============*/
/* 발매표 달력 */
#gametable {
	clear: both;
}
#gametable .month  {
	float: left;
	width: 320px;
	padding: 15px 10px;
	margin-bottom: 1em;
	box-sizing: border-box;
}
#gametable .month + .month { margin-left: 10px; }
#gametable .month.current { background: #d9f2fa; }

/* 1월 ~ 12월 글자 */
#gametable .heading {
	font-size: 140%;
	line-height: 1.2;
	margin-bottom: .5em;
	position: relative;
}

/* 펼치기 접기 버튼 */
#gametable span.more {
	font: normal normal 18px/1 'FontAwesome';
	position: absolute;
	top: 2px;
	right: 2px;
	color: #373737;
	cursor: pointer;
}
#gametable span.more:before { content: '\f067'; }

/* 각 목록의 구성 */
#gametable .item {
	padding: 4px 3px;
	cursor: pointer;
}
#gametable .item:nth-child(odd) { background-color: #efefef; }
#gametable .month.current .item:nth-child(odd) { background-color: transparent; }

#gametable span.date {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	font-size: 0.9rem;
	line-height: 20px;
	letter-spacing: -1px;
	color: #aaa;
	margin-right: 4px;
}
#gametable span.date:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 9px;
	margin-right: 4px;
}
.item.otome span.date:before { background: url(skins/wikichan/images/bullet-pink.png); }
.item.bl span.date:before { background: url(skins/wikichan/images/bullet-red.png); }

#gametable span.title {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	line-height: 20px;
}

/* 팝업 정보 (달력에선 보이지 않음) */
#gametable .detail {
	display: none;
}

/*==============
	캘린더
==============*/
.calendar-control {
	position: relative;
}

/* 슬라이드 쇼 & 플레인 모드 */
.calendar-mode {
	position: absolute;
	top: 17px;
	right: 8px;
	width: 32px;
	height: 32px;
	background: url(skins/wikichan/images/view-mode.png) no-repeat 0 0;
	cursor: pointer;
}
.calendar-mode.plain {
	background-position: 0 -32px;
}

/* 캘린더의 스위치 버튼 */
.calendar-navi {
	width: 792px;
	padding: 0 0 30px !important;
	position: relative;
}
.calendar-navi ul.days {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 792px;
	text-align: center;
}
.calendar-navi ul.days li {
	display: inline-block;
	padding: 0 6px;
	color: #555;
}
.calendar-navi ul.days li:hover {
	color: #00A6BC;
	text-decoration: underline;
}
.calendar-navi li.selected ul.days {
	display: block;
}

/* 캘린더의 컨테이너 */
.calendar-container {
	position: relative;
	margin-bottom: 10px;
}
#calendar {
	width: 920px;
	min-height: 237px;
	padding-top: 25px; /* 편집 버튼을 위한 공간 */
	margin: auto;
	background: url(/skins/wikichan/images/throbber.gif) no-repeat center center;
	position: relative;
	overflow-x: hidden;
}
#calendar-prev, #calendar-next {
	font: bold 48px/225px Arial;
	text-align: center;
	width: 25px;
	height: 225px;
	color: #fff;
	background: #57bae8;
	cursor: pointer;
	position: absolute;
	top: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#calendar-prev:hover, #calendar-next:hover {
	background: #008ccf;
}
#calendar-prev { left: 0; }
#calendar-next { right: 0; }

#calendar .editsection {
	float: none !important;
	position: absolute;
	top: 0;
	right: 0;
}
p .editsection {
	display: none;
}

/* 캘린더 */
.calendar {
	background: #fff;
}
#calendar:not(.plain) .calendar {
	width: 10000px;
	height: 237px;
	position: absolute;
	top: 25px;
	left: 920px;
}

.calendar .day {
	float: left;
	min-width: 100px;
	height: 200px;
	padding: 35px 2px 2px;
	position: relative;
}
.calendar .day .head {
	font: bold 15px/20px '맑은 고딕';
	padding: 5px;
	position: absolute;
	top: 0;
	left: 2px;
	right: 2px;
	background: #eaeaea;
}
.calendar .day .body {
	padding: 10px;
	height: 180px;
}
.calendar.current .today .head, .calendar.current .today .body {
	background: #dcecfc;
}

/* 생일인 사람의 사진과 캡션 */
.birth-profile {
	float: left;
	width: 120px;
	height: 180px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.birth-profile + .birth-profile {
	margin-left: 5px;
}
.birth-profile > a.image {
	line-height: 0;
}
.birth-profile > a.new {
	bottom: 45px;
}
.birth-caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 120px;
	background: rgba(87, 186, 232, 0.87);
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
	text-align: center;
}
.calendar.current .today .birth-caption {
	background: rgba(0, 140, 207, 0.87);
}
.birth-caption a {
	color: #fff !important;
}