/*----------------------------------------
 * Modern Skylight: Main page styles
 * Author: cafeinlove (at wiki-chan.net)
 * License: CC BY-SA 3.0
 ----------------------------------------*/

/* Fix */
a:hover { text-decoration: none !important; }

.content .article.alpha {
	width: auto !important;
	border: none !important;
	padding: 0 !important;
}

/* Logo */
.action-view h1#firstheading,
.action-submit h1#firstheading {
	text-indent: -9999px;
	width: 320px;
	height: 80px;
	background: url('/images/f/fb/Wikichan.png') no-repeat 0 0;
	margin: 10px 0;
}

/* Accordion Navigation */
.accordion {
	margin: 10px 0 !important;
	padding: 0 !important;
}
.accordion a {
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .2), 0px 1px 0px 0px rgba(0, 0, 0, .2);
	display: block;
}

.accordion-section {
	display: block;
}

.accordion-section > a {
	background: #50a8e1;
	color: #fdfdfd !important;
	display: block;
	height: 40px;
	padding: 0 10px 0 14px;
	line-height: 40px;
	font-size: 14px;
}
.accordion-section > a:focus,
.accordion-section > a:hover,
.accordion-section > a.active {
	background: #238fd4;
}

.accordion-submenu {
	display: none; /* hidden by default */
	margin: 0 !important;
	padding: 0 !important;
}
.accordion-submenu > li {
	display: block;
}
.accordion-submenu a {
	background: white;
	height: 33px;
	padding: 0 10px 0 40px;
	position: relative;
	line-height: 33px;
	font-size: 13px;
}
.accordion-submenu > li:nth-child(even) > a {
	background: #f2f5f9;
}
.accordion-submenu a:hover {
	background: #e6f2f6;
	color: #777 !important;
}

.accordion-submenu .num {
	color: #a6a6a6;
	margin-left: 14px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 33px;
	font-size: 13px;
	font-style: normal;
}
.accordion-submenu .val {
	color: #797979;
	display: block;
	margin-right: 10px;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 33px;
	font-size: 13px;
}

/* Component Box */
.component {
	background: white;
	margin-bottom: 10px;
}

.component-head {
	height: 40px;
	position: relative;
}
.component-head .title {
	color: #202020;
	display: block;
	line-height: 40px;
	font-size: 20px;
}

.component-head .more {
	position: absolute;
	top: 8px;
	right: 0;
}
.component-head .more > a {
	border-bottom: 1px solid #aee6fb;
	display: inline-block;
	line-height: 17px;
	font-size: 12px;
}

.component-body {
	margin-bottom: .5em;
	padding: 5px 0;
}

/* Projects */
.projects li {
	float: left;
	width: 145px;
	height: 72px;
}

.projects li:first-child { margin: 0 5px 5px 0; }
.projects li:nth-child(2) { margin: 0 0 5px 5px; }
.projects li:nth-child(3) { margin: 5px 5px 0 0; }
.projects li:nth-child(4) { margin: 5px 0 0 5px; }

.projects li:first-child, .projects li:nth-child(4) { background: #50a8e1; }
.projects li:nth-child(2), .projects li:nth-child(3) { 	background: #6ec8f8; }

.projects a {
	color: white !important;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.projects span.alt {
	position: absolute;
	left: 8px;
	bottom: 6px;
	line-height: 20px;
	font-size: 13px;
}

/* Create Form */
#create-control {
	margin-bottom: 10px;
	padding: 0;
	text-align: center;
}
#create-control > li {
	display: inline-block;
	margin: 1px;
}
#create-control > li > a {
	background: #e1e3e5;
	color: #838588;
	display: inline-block;
	padding: .55em .7em .55em;
	line-height: 14px;
	font-size: 12px;
	cursor: pointer;
	transition: background .1s, color .1s;
}
#create-control > li > a.selected {
	background: #50a8e1;
	color: white;
}

input.createboxInput {
	float: none;
	margin: 0 auto;
	width: 292px;
}
input.createboxButton {
	display: none;
}

/* Notification message box */
#notification {
	background: #fde073;
	margin: 0 -10px;
	overflow: hidden;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 65535;
	line-height: 2.5;
	text-align: center;
	-webkit-transform: translateY(-50px);
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	-ms-transform: translateY(-50px);
	-ms-animation: slideDown 2.5s 1.0s 1 ease forwards;
	transform: translateY(-50px);
	animation: slideDown 2.5s 1.0s 1 ease forwards;
}