/**
 * Main Page Style for 위키쨩
 * Author: 카페인러브
 * Website: http://wiki-chan.net
 * License: MIT License
 */

/* Fix */
a:hover { text-decoration: none !important; }

.content .article.alpha {
	width: auto !important;
	border: none !important;
	padding: 0 !important;
}

/*** Logo ***/
.action-view h1#firstheading,
.action-submit h1#firstheading {
	text-indent: -9999px;
	width: 320px;
	height: 80px;
	background: url('/images/f/fb/Wikichan.png') no-repeat 0 0;
	margin: 10px 0;
}

/*** Accordion Menu ***/
#accordion {
	list-style: none !important;
	padding: 0 !important;
	margin: 10px 0 !important;
}

#accordion li > a {
	padding: 0 10px 0 14px;
	display: block;
	position: relative;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background-color: #50A8E1;
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .2), 0px 1px 0px 0px rgba(0,0,0, .2);
}
#accordion > li > a { color: #FDFDFD !important; }
#accordion > li:hover > a,
#accordion > li:target > a,
#accordion > li > a.active { background-color: #238FD4; }

/* Collapsible items */
#accordion .sub-menu {
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
#accordion .sub-menu a {
	padding: 0 10px 0 40px;
	background-color: #FFF;
	height: 33px;
	font-size: 13px;
	line-height: 33px;
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
#accordion .sub-menu li:nth-child(even) a {
	background-color: #F2F5F9;
}
#accordion .sub-menu li:hover a {
	background-color: #E6F2F6;
	color: #777 !important;
}

#accordion .sub-menu span.num {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #A6A6A6;
	font-size: 13px;
	line-height: 33px;
	font-style: normal;
}
#accordion .sub-menu span.val {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	color: #797979;
	font-size: 13px;
	line-height: 33px;
}

/* Toggle */
#accordion li > .sub-menu { display: none; } 
#accordion li:target > .sub-menu { display: block; }

/*** Component Box ***/
.component {
	background-color: #FFF;
	margin-bottom: 10px;
}
.component-head {
	position: relative;
	height: 40px;
}
.component-head .title {
	display: block;
	color: #202020;
	font-size: 20px;
	line-height: 40px;
}
.component-head .more {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 8px;
	right: 0;
}
.component-head .more > a {
	display: block;
	width: 23px;
	height: 23px;
	color: transparent;
}
.component-head .more > a:before, .component-head .more > a:after {
	content: '';
	display: block;
	position: absolute;
	background-color: #555;
}
.component-head .more > a:before {
	width: 14px;
	height: 1px;
	top: 11px;
	right: 5px;
}
.component-head .more > a:after {
	width: 1px;
	height: 14px;
	top: 5px;
	right: 11px;
}
.component-head .more.open > a:after {
	display: none;
}
.component-body {
	padding: 5px 0;
	margin-bottom: .5em;
}

/*** Projects ***/
.projects li {
	float: left;
	width: 145px;
	height: 72px;
}

.projects li:first-child { margin: 0 5px 5px 0; }
.projects li:nth-child(2) { margin: 0 0 5px 5px; }
.projects li:nth-child(3) { margin: 5px 5px 0 0; }
.projects li:nth-child(4) { margin: 5px 0 0 5px; }

.projects li:first-child, .projects li:nth-child(4) { background-color: #50A8E1; }
.projects li:nth-child(2), .projects li:nth-child(3) { 	background-color: #6EC8F8; }

.projects a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF !important;
	position: relative;
}
.projects span.alt {
	font-size: 13px;
	line-height: 20px;
	position: absolute;
	left: 8px;
	bottom: 6px;
}

/*** Create Form ***/
ul#create-control {
	text-align: center;
	margin-bottom: 10px;
}
ul#create-control li {
	display: inline-block;
	background-color: #E1E3E5;
	color: #838588;
	font-size: 12px;
	line-height: 14px;
	padding: .55em .7em .55em;
	margin: 1px;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
ul#create-control li.selected {
	background-color: #50A8E1;
	color: #FFF;
}

input.createboxInput {
	width: 292px;
	margin: 0 auto;
	float: none;
}
input.createboxButton {
	display: none;
}

/*** Noti message ***/
#notification {
	position: absolute;
	z-index: 65535;
	top: 40px;
	left: 0;
	right: 0;
	background-color: #FDE073;
	text-align: center;
	line-height: 2.5;
	margin: 0 -10px;
	overflow: hidden;
	-webkit-transform: translateY(-50px);
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	-ms-transform: translateY(-50px);
	-ms-animation: slideDown 2.5s 1.0s 1 ease forwards;
	transform: translateY(-50px);
	animation: slideDown 2.5s 1.0s 1 ease forwards;
}