/*----------------------------------------
 * Modern Skylight: Global styles
 * Author(s): cafeinlove (at wiki-chan.net)
 * License: CC BY-SA 3.0
 ----------------------------------------*/

/* BASE
 ----------------------------------------*/

/* Global */
html,
input,
textarea,
pre,
select,
option {
    -moz-tab-size: 15;
    -o-tab-size: 15;
    tab-size: 15;
}

::selection {
    background-color: #4cc8e4;
    color: white;
    text-shadow: none;
}

/* Document */
html {
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Sections */
body {
    color: #111;
    margin: 0;
    font-family: -system-ui, "AppleGothic", "Malgun Gothic", sans-serif;
    font-size: 13px;
    letter-spacing: -1px;
}

article,
aside,
figure,
figcaption
footer,
header,
main,
nav,
section {
    display: block; /* IE fix */
}

/* Links */
a {
    background-color: transparent;
    cursor: pointer;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

/* Images */
img {
    border: 0;
    outline: 0;
}

/* Subscripts and Superscripts */
sub,
sup {
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

/* Quote blocks */
blockquote {

}

/* Horizontal lines */
hr {
    background: #eaeaea;
    border: 0;
    height: 1px;
}

/* Input fields */
textarea {
    border: 1px solid #dadada;
    outline: 0;
    width: 100%;
    line-height: 1.45;
    box-sizing: border-box;
    resize: vertical;
}

/* Fieldsets */
fieldset {
    background: rgba(150, 200, 200, .1);
    border: 0;
    margin-top: .5em;
}

/* Table */
table caption {
    text-align: left;
    font-weight: bold;
}

/* Code blocks */
code,
pre,
samp {
    background: #f0f2f5;
    word-wrap: break-word;
}

pre {
    border: 0;
    margin: 4px 0;
    overflow: auto;
    padding: 12px;
    line-height: 140%;
    letter-spacing: 0;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, system-ui;
    padding: 0 .25em;
}

/* LAYOUT
 ----------------------------------------*/
.group::after {
    clear: both;
    display: table;
    content: "";
}
.clear::after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: "";
}

.holder {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

/* 그리드 */
.column {
    float: left;
    width: 300px;
    padding: 0 10px;
}

.column + .column {
    margin-left: 10px;
}

/* MODULES
 ----------------------------------------*/
.hidden { display: none; }
.invisible { visibility: hidden; }
.center { text-align: center; margin: auto; }
.discrete { color: #888; }
.discrete a { color: #707070; }
.smaller { font-size: 12px; }
.larger { font-size: 15px; }
.thin { font-weight: normal !important; }
.spacial { letter-spacing: 0; }
.nowrap { white-space: nowrap; }
.plainlinks a::after { display: none !important; }

.righted {
    float: right !important;
    clear: right !important;
    margin: 0 0 1em 1em !important;
}
.lefted {
    float: left !important;
    clear: left !important;
    margin: 0 1em 1em 0 !important;
}
.centered {
    clear: both !important;
    margin: .5em auto !important;
}

/* 말줄임표 (requires max-width be declared) */
.ellipsis {
    white-space: nowrap;
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* 마우스오버 이펙트 */
.hover-shadow:hover { box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.9); }

/* THEME
 ----------------------------------------*/
/* Typography */
#mw-content-text p,
#mw-content-text dl,
#mw-content-text ol,
#mw-content-text ul {
    line-height: 1.8;
    text-align: justify;
}

/* Links */
#mw-content-text a,
.footer a { color: #1dade2; }
#mw-content-text a.new { color: #ec6635; }
#mw-content-text a:hover { text-decoration: underline; }
#mw-content-text a.external::after {
    /* @embed */
    background: url(images/external_link.png) no-repeat center center;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 1px;
    position: relative;
    top: -.5em; /* same as <sup /> */
    content: "";
}

/* Lists */
ul:not([class]) {
    margin: .4em 0 .5em 2.5em;
    padding: 0;
    list-style: disc;
}
ol:not([class]) {
    margin: .4em 0 .5em 3.2em;
}
#mw-content-text ul:not([class]) ul,
#mw-content-text ol ul,
#mw-content-text dl ul {
    list-style: circle;
    margin: 0 0 0 2.5em;
}
#mw-content-text ol dl, #mw-content-text dl ol {
    margin-top: 0;
    margin-bottom: 0;
}
#mw-content-text dt {
    font-weight: bold;
}
ul.nolist {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.inline li {
    float: left;
}
ul.tiny {
    list-style: none;
    margin: 0;
}
ul.tiny li {
    /* @embed */
    background: url(images/arrow-right.png) no-repeat left 7px;
    padding-left: 10px;
}

/* inputs */
input:not([type]),
input[type="password"],
input[type="email"],
input[type="text"] {
    border: 1px solid #ccc;
    outline: 0;
    padding: 3px;
    font-family: inherit;
    font-size: 13px;
    letter-spacing: -1px;
}

/* 버튼 형태의 input */
input[type="button"],
input[type="submit"],
button:not(.ui-button),
a.button,
.buttons > a {
    background: #50a8e1;
    border: 0;
    outline: 0;
    color: white;
    display: inline-block;
    margin: 2px;
    padding: 7px 12px;
    line-height: 14px;
    text-align: center;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: -1px;
    cursor: pointer;
}
a.button, .buttons > a {
    color: white !important;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:not(.ui-button):hover,
input[type="button"]:active,
input[type="submit"]:active,
button:not(.ui-button):active,
input[type="button"]:focus,
input[type="submit"]:focus,
button:not(.ui-button):focus,
a.button:hover,
.buttons > a:hover {
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.9);
    text-decoration: none !important;
}

input[type="checkbox"] {
    margin: 0 0 0 7px;
    vertical-align: text-top;
    position: relative;
    top: 3px;
}
input[type="checkbox"],
input[type="checkbox"] + label {
    cursor: pointer;
}

input:disabled + label {
    display: none;
}

/* Headings */
#mw-content-text h2,
#mw-content-text h3,
#mw-content-text h4,
#mw-content-text h5,
#mw-content-text h6 {
    margin-top: 1.5em;
    margin-bottom: .4em;
    position: relative;
    clear: both;
    line-height: normal;
    font-weight: bold;
}

#mw-content-text h2 {
    margin-top: 1.6em;
    padding-left: 15px;
    font-size: 21px;
}
#mw-content-text #toc + h2,
#mw-content-text #mw-context-text h2:first-child {
    margin-top: 1em !important;
}

#mw-content-text h3 {
    padding-left: 14px;
    font-size: 17px;
}
#mw-content-text h2 + h3 {
    margin-top: 1.2em !important;
}

#mw-content-text h4 {
    padding-left: 13px;
    font-size: 15px;
}
#mw-content-text h3 + h4 {
    margin-top: 1em !important;
}

#mw-content-text h5,
#mw-content-text h6 {
    padding-left: 13px;
    font-size: 13px;
}

#mw-content-text h2::before,
#mw-content-text h3::before,
#mw-content-text h4::before,
#mw-content-text h5::before,
#mw-content-text h6::before {
    background: #1dade2;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
}
#mw-content-text h2::before {
    width: 8px;
    left: 0;
}
#mw-content-text h3::before {
    width: 5px;
    left: 1px;
}
#mw-content-text h4::before {
    width: 3px;
    left: 2px;
}
#mw-content-text h5::before,
#mw-content-text h6::before {
    width: 3px;
    left: 2px;
}
#mw-content-text .mw-editsection-bracket { display: none; }

/* Multimedia */
.thumb {
    background: #f4f6f8;
    border: 1px solid #eee;
    margin-top: .5em;
    margin-bottom: .8em;
    padding: 5px;
}
.thumb.tright {
    float: right;
    clear: right;
    margin: 10px 0 16px 16px;
}
.thumb.tleft {
    float: left;
    clear: left;
    margin: 10px 16px 16px 0;
}
.thumb.tnone {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.thumbinner {
    overflow: hidden;
    text-align: center;
}
.thumbinner a.image {
    display: block;
    line-height: 0; /* fix */
}

.thumbborder { border: 1px solid #eee; }

.thumbcaption {
    padding: ;
    margin-top: .5em;
    color: #606264;
}
.thumb:not(.tnone) .thumbcaption { text-align: left !important; }
.thumbcaption .magnify { display: none; }

/* Gallery */
ul.gallery {
    margin: 0 auto 1em;
    text-align: center;
}
li.callerycaption {
    font-size: 14px;
}
li.gallerybox {
    border: 0;
}
li.gallerybox div.thumb {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}
li.gallerybox div.thumb a.new {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    color: #222 !important;
    padding: 2px 12px;
    vertical-align: middle;
    line-height: 130px;
    text-align: center;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
li.gallerybox .thumb a.new:active {
    background-color: #e0e0e0;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    outline: 0;
}

div.gallerytext {
    font-size: 12px;
    text-align: center;
}
div.gallerytext p {
    margin: 0;
    text-align: center !important;
}

/* Upload image link */
.upload > a.new {
    background: #50a8e1;
    border: 1px solid #3c9edd;
    color: white !important;
    display: block;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    line-height: 100px;
    text-align: center;
    transition: background-color .1s linear, border-color .1s linear;
}
.upload > a.new:hover {
    background: #449ed8;
    border-color: #3791cc;
    text-decoration: none;
}
.upload > a.new:active {
    outline-width: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.upload > a.image {
    display: block;
    line-height: 0;
}

/* action=edit */
textarea#wpTextbox1 {
    font-size: 13px; /* FireFox fix */
    line-height: 170% !important;
}

.editOptions {
    position: relative;
    margin: 1em 0;
}

input#wpSummary {
    font-family: inherit;
    border-radius: 3px;
    margin: .5em 0;
}

.mw-summary-preview span.comment { color: #909398; }

.editCheckboxes { margin: 1em 0; }

#editpage-copywarn p, .hiddencats p { margin: 0; }
.previewnote h2, .previewnote hr { display: none; }

/* Table of Contents */
#toc {
    background: #f2f3f5;
    width: 230px;
    padding: 10px;
    margin-left: 735px;
    position: fixed;
    top: 61px;
}
#toctitle {
    border: 0;
    display: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
#toc > ul {
    width: 212px;
    max-height: -webkit-calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}
#toc ul {
    margin: 0;
    padding: 0;
}
#toc li {
    margin: 0;
    display: block;
    line-height: 1.7;
}
#toc ul ul {
    padding: 0;
    margin: 0 0 0 1.6em;
}
#toc li a {
    display: block;
    padding: 0 3px;
    overflow-x: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#toc li a:hover {
    background: #e8e9ef;
}
#toc .tocnumber {
    color: #9da0ab;
    margin-right: .2em;
}
#toc .toctext {
    color: #181818;
    white-space: nowrap;
}

/* Hide ToC on pages with full-width content */
.article.alpha #toc { display: none !important; }

/* Header */
#header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(50,50,50,0.1);
    position: relative;
    overflow: visible;
    z-index: 1;
}
#header {
    min-width: 1000px; /* horizontal scroll bug fix */
}

/* Header Menu */
ul.top-menu > li {
    float: left;
}
ul.top-menu > li > a {
    color: #111;
    display: inline-block;
    padding: 15px;
    position: relative;
    line-height: 20px;
    text-decoration: none;
}
ul.top-menu > li:hover > a {
    background: #f2f4f6;
}

#header-tools {
    float: left;
    margin: 0 15px 0 0;
}

#header-account {
    float: right;
    margin: 0 0 0 15px;
}
#header-account .top-menu > li > a {
    min-width: 50px;
    text-align: center;
}

#header-notification {
    float: right;
    margin: 0 0 0 15px;
}

#header-account .top-menu #alarm-container .alarm-usermesg,
.alarm-useradd {
    background: #e8a09a;
    background: linear-gradient(to bottom, #e8a09a 0%, #ca3e2e 100%);
    border: 1px solid #ca3e2e;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 0 2px 0 1px;
    margin-left: 3px;
    vertical-align: text-top;
    line-height: 13px;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #ca3e2e;
}
#header-account .top-menu:hover #alarm-container .alarm-usermesg, .alarm-useradd {
    background: linear-gradient(to bottom,  #f89c8c 0%,#d5290a 100%);
    border-color: #d5290a;
}

/* 새 친구신청 알림은 파란색으로 */
.alarm-useradd {
    background: #9aa0e8;
    background: linear-gradient(to bottom,  #9aa0e8 0%,#342eca 100%);
    border: 1px solid #342eca;
    text-shadow: 0 -1px 0 #342eca;
}

/** 검색 **/
#header-search {
    float: right;
    padding: 9px;
    margin: 0 0 0 15px;
}
#searchform, #simpleSearch {
    display: block;
    padding: 0;
    position: relative;
}
#searchInput {
    border: 1px solid #ccc;
    width: 180px;
    height: 20px;
    margin: 0;
    vertical-align: baseline;
    padding: 5px 23px 5px 5px;
    line-height: 20px;
    line-height: 22px\9;
    font-family: inherit;
    font-size: 13px;
    letter-spacing: -1px;
    top: 0;
    transition: width 0.2s ease-in-out;
}
#searchInput:focus {
    border-color: #aaa;
    box-shadow: 0 1px 1px #bbb inset;
    outline: 0;
    width: 220px;
}
#searchButton {
    background: transparent url('images/search-ltr.png') no-repeat center center;
    border: 0;
    color: transparent;
    outline: 0;
    display: block;
    width: 24px;
    height: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
    text-shadow: none;
    opacity: 0.6;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
}
#searchButton:hover {
    opacity: 1;
}

#searchButton img {
    display: none;
}

/* Secondary search box */
.sidesearch {
    position: fixed;
    top: 0;
    width: 230px;
    padding: 15px 0;
    overflow: hidden;
}
.sidesearch #searchInput, .sidesearch #searchInput:focus {
    width: 200px !important;
}

/* Search suggestions */
.suggestions-results, .suggestions-special {
    font-size: 13px !important;
}
.suggestions-result {
    line-height: 170% !important;
}
.suggestions-special .special-label {
    font-size: 11px !important;
}
.suggestions-result-current {
    background: #1798c4 !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* Dropdown menu */
.dropdown { position: relative; }

.dropdown-menu {
    background: #f2f4f6;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.12);
    display: none;
    min-width: 80px;
    max-width: 180px;
    position: absolute;
    left: auto;
    right: auto;
    height: auto;
    margin: 0;
    padding: 5px 0;
    z-index: 10000;
}

.dropdown:hover > .dropdown-menu, .dropdown.open > .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
    float: none;
    margin: 0;
    z-index: auto;
    white-space: nowrap;
}

.dropdown-menu a {
    color: #111 !important;
    display: block;
    margin: 0;
    padding: .5em 20px .35em 15px;
    position: static;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
}
.dropdown-menu a:hover, .dropdown-menu-lv a:hover {
    background: #e5e9ed;
}

.dropdown-menu hr {
    background: #e0e0e0;
    margin: 5px 15px 4px;
}

.dropdown-menu.lefted {
    top: 50px;
    left: 0;
}
.dropdown-menu.righted {
    top: 50px;
    right: 0;
    width: 100%;
}

.dropdown a.disabled {
    color: #ccc !important;
}

.dropdown .shortcut {
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #999;
    padding: 0 3px;
    font-size: 11px;
    letter-spacing: 0;
}
.dropdown .shortcut::before {
    content: "alt+";
}

/* Content area */
.content {
    clear: both;
    width: 980px;
    min-height: calc(100vh - 298px);
    margin: 10px auto;
    overflow: visible;
    position: relative;
}
#mw-content-text .article,
#wikiPreview {
    background: white;
    border: 1px solid #dedede;
    width: 710px;
    padding: 10px 14px;
    position: relative;
    float: left;
}
#mw-content-text .article.alpha {
    border: none !important;
    width: 100% !important;
    padding: 0 !important;
}
#mw-content-text .sidebar {
    float: left;
    width: 230px;
    margin-left: 10px;
}

/* Categories */
#catlinks {
    /* @embed */
    background: url(images/tags.png) no-repeat 8px 7px;
    border: 1px solid #d4d4d4;
    box-shadow: 3px 3px 0 0 rgba(135, 135, 135, 0.1);
    color: #999;
    margin: 5px 0 10px;
    padding: 5px 10px;
    text-indent: 18px;
}
#catlinks ul {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
#catlinks li {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
#catlinks li + li::before {
    padding: 0 6px 0 5px;
    content: "»";
}
.catlinks-allhidden {
    display: none;
}

/* Page title */
h1#firstheading {
    border: 0;
    float: left;
    margin: 15px 15px 10px 0;
    line-height: normal;
    font-size: 25px;
}

/* Action menu (view, edit ...) */
#cactions {
    float: right;
    margin: 15px 0 5px 30px;
    font-size: 0; /* margin fix */
}
#cactions li {
    display: inline-block;
    padding: 1px;
    font-size: 1rem;
}

#cactions li a {
    background: #6ec8f8;
    color: white !important;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#cactions li a:hover {
    background: #56b8f3;
}
#cactions li a:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    outline-width: 0;
}

#cactions li#ca-edit a,
#cactions li#ca-viewsource a,
#cactions li#ca-watch a { background: #50a8e1; }
#cactions li#ca-edit a:hover,
#cactions li#ca-viewsource a:hover,
#cactions li#ca-watch a:hover { background: #3796d5; }

#cactions li#ca-delete a,
#cactions li#ca-undelete a { background: #ed7161; }
#cactions li#ca-delete a:hover,
#cactions li#ca-undelete a:hover { background: #e45a49; }

#cactions li#ca-move a { background: #eeaf4b; }
#cactions li#ca-move a:hover { background: #e59d31; }

#cactions li#ca-protect a,
#cactions li#ca-unprotect a { background: #88c057; }
#cactions li#ca-protect a:hover,
#cactions li#ca-unprotect a:hover { background: #73af3e; }

#cactions li#ca-unwatch a { background: #9777a8; }
#cactions li#ca-unwatch a:hover { background: #846096; }

#cactions.inactive li a { background: #ddd !important; }

/* Notice box */
div#siteNotice,  div#mw-js-message, .previewnote {
    background: #ffeaa8;
    background-size: 40px 40px;
    background-image: linear-gradient(135deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));
    border: 1px solid #ffc237;
    border-radius: 5px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
    color: #826200;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 2.5%;
}

div#contentSub2 {
    clear: both;
}

/* Content area */
div#bodyContent{
    clear: both;
    position: relative;
}

/* Footer */
.footer {
    clear: both;
    position: relative;
    margin: 0 auto;
    min-width: 1000px;
    background: #eceef1;
    color: #9099a3;
}

.footer .column-head {
    font-size: 14px;
    line-height: 17px;
    color: #55606e;
    padding: 15px 15px 5px 0;
}
.footer .column-body {
    padding: 5px 15px 10px 5px;
}

.footer .entry {
    margin-bottom: 10px;
}
.footer p {
    margin-top: 5px;
    margin-bottom: 3px;
    line-height: 170%;
    text-align: justify;
    font-size: 12px;
}

/* Layout Fix */
td.mw-label {
    vertical-align: middle;
}

/* mw-userlinktools */
.mw-usertoollinks a {
    background: #e8e8e8;
    border-radius: 3px;
    color: #888 !important;
    margin: 0 2px;
    padding: 0 3px;
    vertical-align: 1px;
    line-height: 15px;
    font-size: 12px;
    text-shadow: none;
}
.mw-usertoollinks a:hover {
    background: #464e54;
    color: white !important;
}

/* Recent Changes */
table.mw-enhanced-rc { margin-bottom: 3px; }
table.mw-enhanced-rc th,
table.mw-enhanced-rc td {
    color: #606276;
    vertical-align: top;
}
td.mw-enhanced-rc { letter-spacing: 0; }

.mw-changeslist-separator { display: none; }
.mw-changeslist-separator + .mw-userlink,
.mw-changeslist-separator + .changedby { margin-left: .5em; }

.mw-plusminus-neg { color: #f37076; }
.mw-plusminus-pos { color: #74b535; }

.mw-usertoollinks a,
.mw-rollback-link a,
.mw-history-undo a {
    background: #e8e8e8;
    border-radius: 2px;
    color: #888;
    margin: 0 1px;
    padding: 2px 4px 1px 3px;
    line-height: 1;
    font-size: 12px;
    white-space: nowrap;
}
.mw-usertoollinks a:hover,
.mw-rollback-link a:hover,
.mw-history-undo a:hover {
    background: #464e54;
    color: #fff;
    text-decoration: none;
}

.mw-usertoollinks,
.mw-rollback-link { font-size: 0; }

.rcoptions hr,
.rcoptions form { display: none; }

.mw-changeslist .comment {
    color: #909398;
    font-style: normal;
}

/* Preferences page */
#preftoc {
    margin: 0;
    padding: 0;
}

#preftoc li {
    display: inline-block;
    margin: 0;
    padding: .5rem .35rem 0 0;
}

#preftoc a {
    background: white;
    border: 1px solid #e0e0e0;
    color: #222;
    display: inline-block;
    padding: .25em .5em;
    font-size: .92rem;
    touch-action: manipulation;
}

#preftoc a:hover {
    text-decoration: none;
}
#preftoc a:focus,
#preftoc a:hover {
    border-color: #1babe2;
}
#preftoc a:focus {
    outline: 1px solid #1480aa;
}
#preftoc li.selected a {
    background: #1babe2;
    border-color: #1babe2;
    color: white;
    cursor: default;
    pointer-events: none;
}

/* Hide `real name` field in `make my account` page */
#userlogin table tr:nth-child(5) td.mw-label {
    visibility: hidden;
}
#userlogin table tr:nth-child(5) input {
    display: none;
}

/* expand, collapse, close icons */
span.ui-expand,
span.ui-collapse,
span.ui-empty {
    /* @embed */
    background-image: url(images/ui-expand-collapse-empty.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
    vertical-align: text-top;
    content: "";
}
span.ui-expand {
    background-position: 0 0;
}
span.ui-collapse {
    background-position: 0 -16px;
}
span.ui-empty {
    background-position: 0 -32px;
}

/* Modal layer */
.modal-overlay {
    background: black;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
}
.modal {
    background: #fff;
    border-radius: 6px;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
}
.modal .head {
    border-bottom: 1px dotted #eaeaea;
    padding: 20px 50px 10px;
    text-align: center;
}
.modal .body {
    padding: 20px 30px;
}
.modal .foot {
    border-top: 1px dotted #eaeaea;
    padding: 10px 30px 15px;
    text-align: center;
}

.modal-close {
    background: none !important;
    border: 0 !important;
    color: rgba(0, 0, 0, .15);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 25px;
    font: bold 30px/1 Arial;
    cursor: pointer;
}
.modal-close:hover { color: rgba(0, 0, 0, .4); }

/* Blackout layer */
.blackout {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

/* Dialog (possible legacy) */
#dialog {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    margin-left: -211px;
    padding-bottom: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    width: 420px;
    z-index: 9999;
}
#dialog .head {
    padding: 10px 15px 5px;
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#dialog .close {
    background: none;
    border: 0;
    outline: 0;
    color: #bbb;
    font-size: 22px;
    position: absolute;
    top: 4px;
    right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
}
#dialog .close:hover {
    color: #999;
}
#dialog .body { padding: 3px 15px; }
#dialog .foot { padding: 0 15px; }
#dialog td {
    border: 0;
}

/* Scroll to top */
#toTop {
    background: rgba(0, 140, 207,0.7);
    border-radius: 50%;
    color: white;
    display: none; /* hidden by default */
    width: 3.2rem;
    height: 3.2rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    line-height: 3.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s;
}
#toTop.is-visible {
    display: block;
    opacity: 1;
}
#toTop:hover {
    background: rgba(0, 140, 207,0.5);
    color: #fff !important;
}

/* CreateBox */
div.createbox {
    overflow: auto;
}
div.createbox + div.createbox {
    margin-top: 3px;
}
form.createboxForm {
    clear: both;
}
input.createboxInput {
    float: left;
    margin: 2px;
}
input.createboxButton {
    float: left;
    margin: 2px;
}
div.createbox p {
    margin: 0;
}

/* Tooltip */
#wikiTooltip {
    background: #222;
    max-width: 200px;
    margin: 0 0 6px; /* arrow's height + 1px */
    padding: 0 0 5px;
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    font-size: 12px;
    transition: visibility 0s linear .2s, opacity .2s;
}

#wikiTooltip.is-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity .2s;
}

#wikiTooltip .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
    width: 0;
    height: 0;
    margin-left: -5px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

#wikiTooltip .inner {
    background: #222;
    color: #fff;
    border-radius: 4px;
    max-width: 200px;
    padding: 5px 8px;
    text-align: center;
}

/* Shortcuts chart */
td.shortcut span {
    background: #eee;
    background-repeat: repeat-x;
    background-image: linear-gradient(top,#f5f5f5 0,#eee 100%);
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ddd;
    color: #555;
    display: inline-block;
    min-width: 20px;
    padding: 1px 5px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0;
}
td.shortcut span::before {
    content: "alt+";
}

span.kbd {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.2em 0.6em;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}

/* Message boxes */
.messagebox {
    background: #e3f7fc;
    /* color: #3a87ad; */
    border: 0;
    overflow: hidden;
}
.messagebox.netabare {
    background: #fff8c4;
    color: #84682a;
}
.messagebox.warning {
    background: #f2dede;
    color: #b94a48;
}
.messagebox.protected {
    background: #5cb85c;
    color: #fff;
}
.messagebox.suspended {
    background: #d9534f;
    color: #fff;
}
.messagebox.protected a, .messagebox.suspended a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

/* wikitable */
/* Source: John Sardine (http://johnsardine.com/freebies/dl-html-css/simple-little-tab/) */
table.wikitable {
    color: #333;
    background: #fefefe;
    border: #ccc 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px #d1d1d1;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0.5em 0;
    text-shadow: 1px 1px 0px #fff;
}

table.wikitable tr:first-child th:first-child { border-top-left-radius: 3px; }
table.wikitable tr:first-child th:last-child { border-top-right-radius: 3px; }
table.wikitable tr:last-child th:first-child { border-bottom-left-radius: 3px; }
table.wikitable tr:last-child th:last-child { border-bottom-right-radius: 3px; }

table.wikitable th, table.wikitable > tr > th, table.wikitable > * > tr > th {
    border-left: none;
    border-right: none;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed !important;
    background: linear-gradient(to bottom, #ededed 0%, #ebebeb 100%);
    padding: 0.3em;
    text-shadow: 1px 1px 0px #fff;
}
table.wikitable td, table.wikitable > tr > td, table.wikitable > * > tr > td {
    border-right: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0%, #fefefe 100%);
    padding: .1em .3em;
} 
table.wikitable td:first-child { border-left: 0; }

/* rowspan fix. Yuk!! */
th[rowspan], td[rowspan] { position: relative; }

th[rowspan]::after, td[rowspan]::after {
    background: #e0e0e0;
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    content: "";
}

table.wikitable > tbody > tr:nth-child(odd) > td {
    background: #f8f8f8;
    background: linear-gradient(to bottom, #f8f8f8 0%, #f6f6f6 100%);
}
table.wikitable caption {
    line-height: 26px;
    text-align: left;
    font-size: 14px;
}
table.wikitable + table.wikitable { margin-top: 1em; }

table.jquery-tablesorter th.headerSort { background: #ededed; }

.mw-collapsible-toggle {
    color: #48799e;
    font-size: .9em;
    font-weight: normal !important;
}

table.wikitable.focusable tr:hover td {
    background: #f2f2f2;
    background: linear-gradient(to bottom, #f2f2f2 0%, #f0f0f0 100%);
}

/* ReCaptcha */
#recaptcha_area { margin: auto; }
form#editform > p { margin: 0 auto !important; }