/**
 * 위키쨩 ARTICLE PAGES
 * For: NS_MAIN, NS_CATEGORY, NS_PROJECT, NS_IMAGE, NS_TEMPLATE, NS_HELP
 * Author: 카페인러브, 2016
 * Website: http://wiki-chan.net
 * MIT and GPL licenses
 */

/** Fixes **/
#article dl + ul, #article dl + ol { margin-top: -.5em; }

/** Convinience Classes **/
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-small, .smaller { font-size: .923076923rem !important; }
.indented { padding-left: .5em !important; }
.discrete { color: #AAA !important; }

/* 나열된 요소 사이에 쉼표 추가 */
.item + .item:before {
	display: inline;
	content: ',\00a0';
	white-space: normal;
}

/** Gallery **/
li.gallerybox div.thumb {
	border: none !important;
	background-color: transparent !important;
}

/** External Links **/
#article a.external:after {
	display: inline-block;
	content: '\f118';
	font: 12px/0 'icomoon';
	vertical-align: super;
	margin-left: .25em;
}

/** Tabs **/
.tabs-container {
	margin: 2em 3%;
	overflow: hidden;
}
.tabs-control {
	padding: 0 !important;
	margin: 0 0 1em !important;
	text-align: center !important;
}
.tabs-control > * {
	display: inline-block;
	background-color: #FFF;
	color: #767676;
	border: 1px solid #E2E2E2;
	line-height: 1;
	padding: .55em .5em .35em;
	margin: 2px;
	border-radius: 3px;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.tabs-control > *.active {
	background-color: #00A6BC;
	color: #FFF;
	border-color: #00A6BC;
}
.tabs-control > *:not(.active):hover {
	background-color: #ADADAD;
	color: #FFF;
	border-color: #ADADAD;
}
.tabs-content > *:not(.active) { display: none; }

/** Message Box {{알림}} {{안내}} {{참조}} **/
blockquote.info {
	background-color: #E3F7FC;
	border: 0;
	border-left: 5px solid #4CC8E4;
	padding: .8em 1.3em;
	margin: .3em 0 1em;
}
blockquote.info a { font-weight: bold; }

blockquote.protected {
	background-color: #F7E3FC;
	border-left-color: #D5A3D4;
}
blockquote.protected a { color: #B051AE !important; }

blockquote.suspended {
	background-color: #FCE3E3;
	border-left-color: #F37076;
}
blockquote.suspended a { color: #EE3A42 !important; }

/** Infobox {{정보상자}} **/
.infobox {
	clear: left;
	margin: 1em 0 1.5em;
}

.infobox .img {
	float: left;
	width: 200px;
}
.infobox .img > .upload {
	overflow: auto;
}
.infobox .img a.image {
	display: block;
	max-height: 320px;
	overflow: hidden;
}
.infobox .img a.new {
	height: 250px;
	line-height: 250px;
}

.infobox .info {
	margin-left: calc(200px + 1em);
}

.infobox .heading {
	background-color: #F0F1F5;
	padding: .7em 15px .6em;
	margin: .3rem 0;
}
.infobox .heading:first-child { margin-top: 0; }
.infobox .subheading {
	background-color: #F0F1F5;
	padding: .3em 15px .2em;
	margin: .3rem 0;
}

.infobox .heading strong { display: block; }
.infobox .heading .title { font-size: 1.38461538rem; }
.infobox .subtitle { font-size: .923076923rem; }
.infobox .subtitle,
.infobox .interlang { line-height: 1.2; }

.infobox .heading span + span:before {
	content: '/';
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	color: #BBB;
	margin-left: .3em;
	margin-right: .35em;
}
.infobox .title span + span:before,
.infobox span:lang(en) + span:lang(ja):before { /* 성우의 본명, 명의 구분자 */
	color: inherit;
	content: '・';
	margin-left: .2em;
	margin-right: .25em;
}

.infobox dl {
	margin: 0;
	line-height: 1.7 !important	;
}
.infobox dl:after {
	content: '';
	display: table;
}
.infobox dt {
	float: left;
	width: 7em;
	padding: 0 .5em;
	text-align: right;
	font-weight: normal !important;
}
.infobox dd {
	padding: 0 .5em;
	margin: 0 0 0 8.5em !important;
}
.infobox dd a.external { /* truncate long links */
	display: block;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.infobox dd ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
}

/* 섬네일 밑에 확장 영역 추가 */
.infobox .ext {
	margin-top: 10px;
	text-align: center;
}
.infobox .ext + .ext {
	margin-top: 5px;
}

/* {{정보상자 링크칸}} */
.infobox .bookmark {
	display: inline-block;
	width: 32px;
	height: 32px;
}
.infobox .bookmark > div {
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.infobox .bookmark + .bookmark {
	margin-left: 12px;
}

.bookmark.official img { margin: 0; }
.bookmark.blog img { margin: -32px 0 0 0; }
.bookmark.twitter img { margin: -64px 0 0 0; }
.bookmark.youtube img { margin: -96px 0 0 0; }
.bookmark.wikipedia img { margin: -128px 0 0 0; }

.bookmark.official-inactive img { margin: 0 0 0 -32px; }
.bookmark.blog-inactive img { margin: -32px 0 0 -32px; }
.bookmark.twitter-inactive img { margin: -64px 0 0 -32px; }
.bookmark.youtube-inactive img { margin: -96px 0 0 -32px; }
.bookmark.wikipedia-inactive img { margin: -128px 0 0 -32px; }

.bookmark a { transition: all .2s; }
.bookmark a:hover { opacity: 0.8; }

/** Multi-purpose box {{단행본}} {{블루레이}} **/
.multibox {
	clear: left;
	margin: 0 3% 1em;
}
.multibox .img {
	float: left;
	min-width: auto !important;
	min-height: auto !important;
	overflow: hidden;
}
.multibox .desc {
	margin-top: .5em;
}

.multibox dl { margin: 0; }
.multibox p { margin: .5em 0; }
.multibox p:first-child { margin-top: 0; }

/** Characters {{등장인물}} **/
.multibox.chara {
	margin-left: 0;
	margin-right: 0;
}
.multibox.chara .img > a.new {
	width: 100px;
	height: 100px;
	line-height: 100px;
}
.multibox.chara .info { margin-left: calc(100px + 1em); }
.multibox .desc { margin-top: 0; }

/** Books {{단행본}} **/
.multibox.book .img { width: 150px; }
.multibox.book .info { margin-left: calc(150px + 1em); }

/** Drama CD {{드라마 CD}} **/
.multibox.dramacd .img { width: 170px; }
.multibox.dramacd .info { margin-left: calc(170px + 1em); }

/** Bluray {{블루레이}} **/
.multibox.bluray .img { width: 150px; }
.multibox.bluray .info { margin-left: calc(150px + 1em); }

/** Infobox or Multibox WITH TABS
 * Discography {{정보상자/음반}}
 * Bluray {{블루레이}
 **/
.switchable .tabs-control > * {
	width: 12px;
	height: 12px;
	padding: 0;
	margin: 0 3px;
	border-radius: 50%;
	border: none;
}
.switchable .tabs-control > *:not(.active) { background-color: #E0E2E4; }
.switchable .tabs-control > *:not(.active):hover { background-color: #ADADAD; }

.switchable .tabs-content { margin: 0 !important; }

/** Episodes {{에피소드}} **/
.episode .upper {
	margin-bottom: 1em;
	text-align: center;
}
.episode .img {
	display: inline-block;
	margin: 0 .2em;
}
.episode .img > a.new {
	width: 240px;
	height: 160px;
	line-height: 160px;
}

/* Status {{스테이터스}} */
.statusbar {
	clear: both;
	width: 200px;
	padding: 0 10px;
	margin: .25em 0;
	overflow: visible;
}
.statusbar .param {
	font-size: .923076923rem;
	color: #808284;
}
.statusbar .track {
	height: 17px;
	text-align: left;
	white-space: nowrap;
	overflow: visible;
	background-color: #EAECEF;
	box-shadow: inset 0 0 2px rgba(100,100,100,.1);
}
.statusbar .track > * {
	display: inline-block;
	vertical-align: top;
}
.statusbar .bar {
	width: 0; /* 틀에서 HTML 태그로 크기 조절 */
	max-width: 150%;
	height: 100%;
	background-color: #F37076;
}
.statusbar .value {
	margin-left: .3em;
	font-size: .923076923rem;
	line-height: 17px;
}

/* 틀:접기 */
.toggleable > div:first-child {
	position: relative;
	padding-right: 4em;
}
.toggleable > div:first-child:after {
	display: inline-block;
	position: absolute;
	right: 2px;
	font-size: 12px;
	color: #1DADE2;
	cursor: pointer;
}
.toggleable > div:first-child:after:hover {
	text-decoration: underline;
}

.toggleable > div:first-child:after { content: '펼치기'; }
.toggleable.open > div:first-child:after { content: '숨기기'; }

.toggleable:not(.open) > div:nth-child(2) { display: none; }

/* 틀:네타 시작, 틀:네타 끝 */
span.netabare {
	color: transparent;
	border-bottom: 1px dotted #bbb;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}
span.netabare *:not(.alt) {
	visibility: hidden;
}
span.netabare span.alt {
	font-size: 12px;
	font-weight: bold;
	color: #444;
	cursor: pointer;
	visibility: visible !important;
}
span.netabare.show {
	color: #444;
}
span.netabare.show *:not(.alt) {
	visibility: visible;
}

/* Flag {{국기}} */
.flag {
	padding: 0 12px;
	margin-right: 5px;
	line-height: 0;
	position: relative;
}
.flag img {
	position: absolute;
	top: -2px;
	left: 0;
}

/* Media Tag {{덧}} */
.media-tag {
	font-size: 12px;
	color: #34ac98;
	margin-left: 2px;
}
.media-tag:before {
	content: '[';
	margin-right: .1em;
}
.media-tag:after {
	content: ']';
	margin-left: .1em;
}

/* Link Tag {{이벤트}} */
.link-tag a {
	font-size: .923076923rem;
	line-height: 1;
	color: #888;
	background-color: #e5e5e5;
	padding: .15em .25em 0 .2em;
	white-space: nowrap;
}
.link-tag a:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #444;
}
.link-tag a:after { display: none; }

/* Alias Tag {{명의}} */
.name-tag {
	background: #e5e5e5;
	padding: 0 4px 0 3px;
	font-size: 12px;
	line-height: 0;
	position: relative;
	top: -1px;
	cursor: help;
}

/* Imitation List : in {{타이업}} */
.fakelist ul {
	display: block;
	padding: 0 !important;
	margin: 0 !important;
}
.fakelist p, .fakelist li {
	display: block !important;
	padding-left: .5em;
	margin: 0;
	text-align: left;
}
.fakelist p:before, .fakelist li:before { content: '・'; }

/* Quotation {{인용}} */
.quotation {
	border: none;
	background: transparent;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	quotes: '\201C' '\201D';
}
.quotation p { text-indent: 0 !important; }
.quotation p:before, .quotation p:after {
	font: bold 24px/1px Times, serif;
	position: absolute;
}
.quotation p:first-child:before { content: open-quote; }
.quotation p:last-child:after { content: close-quote; }

.quotation.double p { quotes: "“" "”"; }
.quotation.single p { quotes: "‘" "’"; }

.quotation.double p:first-child:before { margin: 8px 0 0 -15px; }
.quotation.double p:last-child:after { margin: 18px 0 0 5px; }

.quotation.single p:first-child:before { margin: 8px 0 0 -11px; }
.quotation.single p:last-child:after { margin: 18px 0 0 3px; }

/* <poem /> */
.poem p { margin: 0 !important; }