/*=================
	NAVIGATION
==================*/
#rsp-header {
	display: none;
	min-width: 320px;
}
#rsp-tools, #rsp-search, #rsp-account {
	display: none;
}

/* 로고 */
.rsp-logo {
	line-height: 0;
}

/* 메뉴 버튼 */
.rsp-nav {
	position: absolute;
	top: 9px;
}
.rsp-nav a {
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	color: transparent;
	/* @embed */
	background: transparent url(images/rsp-nav.png) no-repeat;
}

.rsp-nav.tools {
	right: 12px;
}
.rsp-nav.account {
	right: 50px;
}
.rsp-nav.search {
	right: 88px;
}

a#r-tools {
	background-position: 0 0;
}
a#r-account {
	background-position: -32px 0;
}
a#r-search {
	background-position: -64px 0;
}

a#r-tools:hover, a#r-tools:focus, a#r-tools.active {
	background-position: 0 -32px;
}
a#r-account:hover, a#r-account:focus, a#r-account.acitve {
	background-position: -32px -32px;
}
a#r-search:hover, a#r-search:focus, a#r-search.active {
	background-position: -64px -32px;
}

/* 드랍다운 메뉴 */
.rsp-menu {
	list-style: none !important;
	margin: 0 !important;
	padding: 2px 0 5px;
}
.rsp-menu li {
	display: block;
}
.rsp-menu a {
	display: block;
	padding: 7px 0 7px 30px;
	text-decoration: none;
	color: #222;
}
.rsp-menu a:hover, .rsp-menu a:focus {
	background: #1ba1e2;
	color: #fff;
}

.rsp-submenu {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 0 0 20px;
	display: none;
}
.rsp-submenu a {
	font-size: 95%;
	color: #888;
}
.rsp-submenu hr {
	margin: 0 10px 0 20px;
}

/* 검색창 */
#rsp-search {
	padding: 2px 0 10px;
}
#rsp-search #searchform {
	width: 300px;
	margin: 0 auto;
}
#rsp-search #searchInput, #rsp-search #searchInput:focus {
	width: 270px;
}

/*==============
	DETAILS
===============*/
/* smaller than 980 */
@media screen and (max-width: 979px) {
	.action-edit .content {
		width: 95%;
		min-width: 320px;
	}
	.action-edit h1#firstheading {
		float: none;
		text-align: center;
	}
	.action-edit #cactions {
		float: none;
		text-align: center;
		margin: 10px auto;
	}
	#toc {
		display: none;
	}
}

/* smartphones */
@media screen and (max-width: 480px) {
	#header { display: none; }
	#rsp-header { display: block; }
}

/* width < 480 */
@media screen and (max-width: 479px) {
}

/* 480 =< width < 640 */
@media screen and (min-width: 480px) and (max-width: 639px) {
}

/* 640 =< width < 720 */
@media screen and (min-width: 640px) and (max-width: 719px) {
}

/* 720 =< width < 800 */
@media screen and (min-width: 720px) and (max-width: 799px) {
}

/* 800 =< width < 980 */
@media screen and (min-width: 800px) and (max-width: 979px) {
}